/* COLORS */
$grey-lightest: #F5F5F5;
$grey-light: #EEEEEE;
$grey: #DDDDDD;
$greyer: #888888;
$kashmir-blue: #20374a;
$waikawa-grey: #5A7790;
$tussock: #867034;
$santafe: #757265;

/* SPACING */
$margin: 1rem;
$padding: 1rem;

/* FONTS */  
$font: Arial, Helvetica, sans-serif;   
  
/* BREAKPOINTS */
$breakpoint-mobile: 40em;
 